<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>标准寻访平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/css.css">
<script src="{$url.themePath}/js/jquery-1.9.1.min.js"></script>
<script src="{$url.themePath}/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{$url.themePath}/css/ak-ui.min.css">

</head>
<body style="background-color: #3c3c3c">

{include file="header.html"}
<div class="container">
	<div align="center">

		<a href="{$url.root}/index.php?do=headhunt&times=1">
			<button class="ak-button" ak-button--outline>寻访一次</button>
		</a>
		<a href="{$url.root}/index.php?do=headhunt&times=10">
			<button class="ak-button" ak-button--outline>寻访十次</button>
		</a>

	</div>
	<br/>
<br/>
	{if isset($operators)}
	<div style="
		text-align: center;" >
		{foreach from=$operators key=k item=v}
		<a href="http://prts.wiki/w/{$v['name']}" target="_blank">
			<div class="ak-card ak-card--place ak-fx--glow" style="display:inline-block;
					border: 5px;
				  background: {$v['color']};
				  font-size: 20px;
				 --ak-fx-glow-color: {$v['color']}">
				<div style="
					width: 100%;
					height: 100%;
				  background-image: url({$v['icon']});
					background-size: 100%;
					background-repeat: no-repeat">
				{$v['name']}

			</div>
			</div>
		</a>
		{/foreach}
	</div>

	{/if}




</body>
</html>