<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Latte</title>

	<link href="static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="jq22-container">
	
		<section role="main" class="l-main" style="margin-top:50px;margin-bottom:50px;">
		      <div class="uploader__box js-uploader__box l-center-box">
		              <h1 class="site-title">{$message}</h1>
		          </form>
		      </div>
		  </section>
		
	</div>
<!--/?source=1--!>	
</body>
</html>
